Checks: >-
  -*,
  clang-analyzer-*,
  bugprone-*,
  cert-*,
  misc-*,
  performance-*,
  portability-*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -bugprone-easily-swappable-parameters,
  -misc-include-cleaner,
  -performance-no-int-to-ptr,
  -performance-enum-size,
  -portability-avoid-pragma-once
WarningsAsErrors: '*'
HeaderFilterRegex: '(^|.*[\\/])src[\\/].*\.(h|hh|hpp|hxx)$'
ExcludeHeaderFilterRegex: '(^|.*[\\/])(external|subprojects)[\\/]'
FormatStyle: file

CheckOptions:
  bugprone-assert-side-effect.AssertMacros: 'assert,ASSERT,IM_ASSERT'
